/* .form_style {
  position: relative;
  outline: 0px;
  margin: auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 24px;
  background-color: rgb(255, 255, 255);
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgb(231, 235, 240);
  border-image: initial;
  width: 35%;
}

.border-style {
  border-radius: 10px;
  border-left-width: 1px;
  border-right-width: 1px;
} */
 .container {
  max-width: 1200px !important;   /* or 1280px if you want wider */
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}
