body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --bg: #ffffff;
  --text: #000000;
  --card: #ffffff;
  --border: #000000;
  --accent: #fff176;
  --dot: #ddd;
}

.dark {
  --bg: #000000;
  --text: #ffffff;
  --card: #121212;
  --border: #ffffff;
  --accent: #444;
  --dot: #333;
}
